{% load static %}
<div class="sidebar-sticky pt-3">
    <div class="sidebar-header d-flex align-items-center px-3 mt-4 mb-2">
        <img src="{% static 'img/baobyte-icon.svg' %}" alt="Baobyte Logo" width="30" height="30" class="me-2">
        <span class="text-muted fw-bold">BAOBYTE</span>
    </div>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Navigation</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
    </h6>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M11 3.5V3l-.5-.5a.5.5 0 0 0-.5 0L6 3 5.5 3.5v-1a.5.5 0 0 0-.5-.5H1v2.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1h10v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3.5l-4-1zm-5 3v-1l4-1-4-1v-1l-5 .5v2.5h2a.5.5 0 0 1 .5.5v1h-2.5a.5.5 0 0 0-.5-.5v-2.5L1 4h4.5z"/>
                </svg>
                Overview <span class="visually-hidden">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-4 5a2.01 2.01 0 0 1-2 1.72V14l3.704-.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
                Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.521 8.148l-8.53-4.266c-.535-.267-1.115-.267-1.65 0l-8.53 4.266c-.535.268-.535.701 0 .969l8.53 4.266c.535.267 1.115.267 1.65 0l8.53-4.266c.535-.268.535-.701 0-.969z"/>
                    <path fill-rule="evenodd" d="M2.278 7.852l8.922-4.461c.618-.309 1.328-.309 1.946 0l8.922 4.461c.618.309.618.804 0 1.113l-8.922 4.461c-.618.309-1.328.309-1.946 0l-8.922-4.461c-.618-.309-.618-.804 0-1.113z"/>
                </svg>
                Products
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M9.405 1.05c-.413-.13-.597-.55-.597-.93 0-.374.184-.794.597-.93a.816.816 0 0 1 .764.135l3.03 1.755c.419.24.419.675 0 .915l-3.03 1.755a.816.816 0 0 1-.764.135zM8 15.086a7