{% load i18n %}
{% autoescape off %}

{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ COMPANY_NAME }}.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% translate "If you didn’t request this, you can ignore this email." %}

{% blocktranslate %}Thanks,
The {{ COMPANY_NAME }} team {% endblocktranslate %}

{% endautoescape %}
